<!DOCTYPE html>
<html>
  <head>
    <title>Remote Jobs</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
    <style>
      form {
        max-width: 100% !important;
      }
    </style>
  </head>

  <body>
    <header>
      <h1>Remote Jobs</h1>
    </header>
    <main>
      <form action="/search" method="get">
        <h3>Search by Term:</h3>
        <input placeholder="i.e python" name="word" required/>
        <button>Find My Job</button>
      </form>
    </main>
  </body>
</html>