<!DOCTYPE html>
<html>

<head>
	<title>
    Reddit Reader
  </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1><a href="/">Reddit Reader</a></h1>
    <h3>Reading: {% for subreddit in selected%}r/{{subreddit}}  {% endfor %} </h3>
  </header>
  <main>
    {% for post in posts %}
      <div>
          <h3><a href="https://reddit.com{{post.link}}" target="_blank">{{post.title}}</a></h3>
          <h4>{{post.votes}} upvotes ·  r/{{post.subreddit}}</h4>
        <hr />
      </div>
    {% endfor %}
  </main>
</body>

</html>